* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

* > h1 {
    font-size: 2rem;
    font-weight: bold;
}

* > a {
    text-decoration-line: none !important;
}


body {
    background-color: #d8d3c7;
}

.header {
    display: flex;
    flex-direction: column;
}

.banner-wrapper {
    width: 100%;
    background-color: #d8d3c7;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100%;
}

.article-buy-now {
    display: flex;
    flex-direction: column;
}

.article-buy-now > h1, p {
    margin-bottom: 1.5rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    padding: 1rem;
    background-color: #F55235;
    border: none;
    border-radius: .5rem;
    align-self: center;
    cursor: pointer;
}

.button > span {
    color: #FFF;
    font-weight: bold;
    text-decoration: none !important;
}

.body {
    display: flex;
    flex-direction: column;
}

.reasons-wrapper,
.comedian-info-wrapper,
.article-buy-now,
.not-buy-yet,
.sponsor-wrapper {
    padding: 2rem 1rem;
}

.article-reasons {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.article-reasons, .article-buy-now > p {
    font-size: 1.2rem;
}

.bar-images-wrapper {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.image-wrapper > img {
    width: 70%;
    margin-bottom: 1rem;
}

.buy-now-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
}

.tiket-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #a6a6a6, #f0f0f0);
    padding: 1rem;
    border-radius: .5rem;
}
.ticket-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket-header > .title {
    font-size: 32px;
    font-weight: bold;
    color: #F55236;
}
.ticket-header > .subtitle {
    font-size: 16px;
    font-weight: lighter;
    color: #000;
}
.ticket-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.tickets-img {
    width: 200px;
    height: 200px;
}
.ticket-info-container {
    display: flex;
    flex-direction: column;
}
.ticket-info {
    display: flex;
    flex-direction: row;
}

.info-text {
    font-size: .9rem;
    color: #121212;
    font-weight: 400;
    margin-left: .5rem;
}

.ticket-info > img {
    width: 1rem;
    height: 1rem; 
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.price-container > .price {
    font-size: 32px;
    font-weight: bold;
    color: #F55236;
}
.price-container > .price-info {
    font-size: 14px;
    font-weight: lighter;
    color: #000;
}

.ticket-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.ticket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 250px;
    background-color: #F55236;
    border-radius: 125px;
}

.ticket-button > span {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold !important;
}

.ticket-button-info {
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    color: #000;
    margin-top: .25rem;
}


.buy-now-wrapper > .button, .buy-package > .button {
    background-color: #F55235;
    /* border: 2px solid #000; */
}

.buy-now-wrapper > .button > a,
.buy-package > .button > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none !important;
}


.comedian-info-wrapper {
    display: flex;
    flex-direction: column;
}

.comedian-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}


.comedian-info > span {
    font-size: 1.5rem;
}

.youtube-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.youtube-wrapper > iframe {
    width: 90%;
    height: 312px;
}

.not-buy-yet {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.not-buy-yet > h2 {
    color: #FEC814;
    font-weight: bold;
    margin-bottom: 2rem;
}

.buy-packages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer > img {
    width: 30%;
    align-self: center;
    margin-top: 2rem;
}

.sponsor-wrapper {
    display: flex;
    flex-direction: column;
}

.sponsor-wrapper > h2 {
    margin-bottom: 2.5rem;
}

.sponsor-wrapper > img {
    width: 90%;
    align-self: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: #FFF;
    padding: 1rem;
}

.social-media > a > img {
    width: 52px;
    height: 52px;
}

@media (min-width:801px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    .banner {
        width: 80%;
        align-self: center;
    }

    .button {
        min-width: 50%;
    }

    .article-buy-now {
        padding: 1rem;
    }

    .bar-images-wrapper {
        flex-direction: row;
    }

    .image-wrapper > img {
        max-height: 812px;
    }

    .youtube-wrapper > iframe {
        height: 512px;
    }

    .buy-packages-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        gap: unset;
    }

    .buy-package > img {
        max-height: 812px;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 

    .banner {
        width: 80%;
        align-self: center;
    }

    .button {
        min-width: 40%;
    }

    .article-buy-now {
        padding: 1rem;
    }

    .bar-images-wrapper {
        flex-direction: row;
    }

    .image-wrapper > img {
        max-height: 812px;
    }

    .youtube-wrapper > iframe {
        height: 512px;
    }

    .buy-packages-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        gap: unset;
    }

    .buy-package > img {
        max-height: 812px;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */ 

    .banner {
        width: 75%;
        align-self: center;
    }

    .button {
        min-width: 30%;
    }

    .article-buy-now {
        padding: 1rem;
    }

    .bar-images-wrapper {
        flex-direction: row;
    }

    .image-wrapper > img {
        max-height: 812px;
    }

    .youtube-wrapper > iframe {
        height: 512px;
    }

    .buy-packages-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        gap: unset;
    }

    .buy-package > img {
        max-height: 812px;
    }
}